{{ define "chatpage" }}

<div class="col-sm-6">
      <!-- two spacer columns -->

      <!-- Grid column -->
      <p>Hi, what can I do for you?</p>
      <div class="form-group basic-textarea">
        
          <textarea class="form-control pl-2 my-0" id="newIDx" rows="3" placeholder="Type your message here..."></textarea>
      </div>
      <button type="button" class="btn btn-info btn-rounded btn-sm waves-effect waves-light float-right">Send</button>

  <p id="newID0"></p>
    </div>


{{ end }}
