<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>

</style>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{.Home}}">Toy Chat Project - {{.Scope}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{.Home}}">Home <span class="sr-only">(current)</span></a>
        </li>
        {{if not .LoggedIn}}
        <li class="nav-item">
          <a class="nav-link" href="{{ .Login }}">Login</a>
        </li>
        {{end}}

        {{if .LoggedIn}}
        <li class="nav-item">
          <a class="nav-link" href="{{.Logout}}">Logout</a>
        </li>
        {{ if not .Super}}
        <li class="nav-item">
          <a class="nav-link" href="{{.ChgPwd}}">Change Password</a>
        </li>
        {{end}}
        {{end}}
      </ul>
      {{if .LoggedIn}}
      <span class="navbar-text">
      Welcome {{ .UserName}}
    </span>
    {{ end }}
    </div>
  </nav>

</br></br>
<div class="container-fluid">
    <!-- Grid row -->
<div class="row">
      <!-- two spacer columns -->
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    {{ if .Super }}
	  <p><a href="{{.SideLink1}}">Add Administrator</a></p>
	  <p><a href="{{.SideLink2}}">Activate Administrator</a></p>
	  <p><a href="{{.SideLink3}}">Deactivate Administrator</a></p>
    {{end}}

    {{ if .Admin }}
    <p><a href="{{.SideLink1}}">Add Agent</a></p>
    <p><a href="{{.SideLink2}}">Activate Agent</a></p>
    <p><a href="{{.SideLink3}}">Deactivate Agent</a></p>
    {{ end }}

{{ if .Agent }}
<p class="h4">{{.UserName}} You are {{if .Online}}Online{{end}}{{if not .Online}}Offline{{end}}</p>
{{ if not .Online }}<p><a href="{{.SideLink1}}">Go Online</a></p>{{ end }}
{{if .Online }}<p><a href="{{.SideLink2}}">Go Offline</a></p> {{ end }}
{{ end }}
</div>
  <div class="col-sm-8">
    {{block "tablepage" .}} {{end}}
    {{block "homepage" .}} {{end}}
    {{block "loginpage" .}}  {{end}}
    {{block "signuppage" .}} {{end}}
    {{block "chatpage" .}} {{end}}
    {{block "matpage" .}} {{end}}
    {{block "chgpwdpage" .}} {{end}}
  </div>
  <div class="col-sm-1"></div>
</div>
</div>

      <!-- Grid column -->

<p id="newID0"></p>


</body>

{{ block "playpage" .}}  {{ end }}
{{ block "playmatpage" .}}  {{ end }}

</html>
