{{ define "chatpage" }}


      <!-- two spacer columns -->
    <div class="row">
      <div class="col-sm-8">
        <!-- two spacer columns -->

        <!-- Grid column -->
        <p class="h4">Active Dialog</p>
          <ul class="list-group" id="active">
          <!-- <li class="list-group-item active">Acive Dialog</li> -->
          <li class="list-group-item" id="active_1"></li>
          <li class="list-group-item" id="active_2"></li>
          <li class="list-group-item" id="active_3"></li>
        </ul>
        <br><br>
        <div class="form-group basic-textarea">
            <textarea class="form-control pl-2 my-0" id="newIDx" rows="1" placeholder="Type your message here..."></textarea>
        </div>
        <button type="button" class="btn btn-primary">Send</button>
        <button type="button" id="loadButton" class="btn btn-primary">Load</button>

    <p id="newID0"></p>
  </div>
  <div class="col-sm-4">
    <!-- two spacer columns -->

    <!-- Grid column -->
    <p class="h4" >Waiting Dialogs</p>
    <ul class="list-group">
    <li class="list-group-item active" id="sideA">Waiting user A</li>
    <li class="list-group-item" id="sideA_1"></li>
    <li class="list-group-item"  id="sideA_2"></li>
    <li class="list-group-item"  id="sideA_3"></li>
    <li class="list-group-item" id="sideA_4"></li>
  </ul>
  <br><br>

  <ul class="list-group">
  <li class="list-group-item active" id="sideB">Waiting user B</li>
  <li class="list-group-item" id="sideB_1"></li>
  <li class="list-group-item" id="sideB_2"></li>
  <li class="list-group-item" id="sideB_3"></li>
  <li class="list-group-item" id="sideB_4"></li>
  </ul>
  <p id="newID0"></p>
  </div>
  </div>


{{ end }}
