{{define "homepage"}}

<div class="col-sm-10">

  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">My Toy Chat Project</h1>
    <p class="lead">This is my toy chat project.  My objective is to build a front end,
      two back ends (a stupid chat engine and a human interface) and wire
      it all up with nats.io.  In that way, it will be a total golang solution.
      The only non-go part will be mySQL and a little bit of jQuery.</p>

      <p class="lead">This section is the agent chat section.  Initally, there
        is an agent signup page so I can add agents.  Eventually, this will be
        moved to an admin page for entering agents.</p>
  </div>
</div>
</div>

{{end}}
